@using ElderScrollsOnlineCraftingOrders.Models
@model List<UsersPO>
@{
    ViewBag.Title = "AllUsers";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h2 class="text-center">All Users</h2>

<table class="table table-striped" style="background-color: azure">
    <thead>
        <tr>
            <th>
                Username
            </th>
            <th>
                Email
            </th>
            <th>
                ESO Name
            </th>
            <th>
                Server
            </th>
            <th>
                Role
            </th>
            <th class="text-center">
                Orders
            </th>

            @if ((byte)Session["RoleID"] == 6)
            {
                <th style="text-align: center">
                    Actions
                </th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (UsersPO user in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(user.Username, "Users", "Users", new { UserID = user.UserID }, new { @class = "btn" })
                </td>
                <td>
                    <text>@user.Email</text>
                </td>
                <td>
                    <text>@user.ESOname</text>
                </td>
                <td>
                    @Html.ActionLink(user.Server, "UsersByServer", "Users", new { Server = user.Server }, new { @class = "btn" })
                </td>
                <td>
                    @if ((int)user.RoleID == 1)
                    {
                        @Html.ActionLink("Banned", "UsersByRole", "Users", new { RoleID = user.RoleID }, new { @class = "btn" })
                    }
                    @if ((int)user.RoleID == 3)
                    {
                        @Html.ActionLink("User", "UsersByRole", "Users", new { RoleID = user.RoleID }, new { @class = "btn" })
                    }
                    @if ((int)user.RoleID == 4)
                    {
                        @Html.ActionLink("Crafter", "UsersByRole", "Users", new { RoleID = user.RoleID }, new { @class = "btn" })
                    }
                    @if ((int)user.RoleID == 5)
                    {
                        @Html.ActionLink("Mod", "UsersByRole", "Users", new { RoleID = user.RoleID }, new { @class = "btn" })
                    }
                    @if ((int)user.RoleID == 6)
                    {
                        @Html.ActionLink("Admin", "UsersByRole", "Users", new { RoleID = user.RoleID }, new { @class = "btn" })
                    }
                </td>
                <td class="text-center">
                    @Html.ActionLink("Submitted", "ViewOrderByUserID", "Orders", new { UserID = user.UserID }, new { @class = "btn btn-info" })

                    @Html.ActionLink("Taken", "ViewOrderByCrafterID", "Orders", new { CrafterID = user.UserID }, new { @class = "btn btn-info" })
                </td>
                @if ((byte)Session["RoleID"] == 6)
                {
                    <td style="text-align: center">
                        @Html.ActionLink("Update", "UpdateUser", "Users", new { UserID = user.UserID }, new { @class = "btn btn-primary" })

                        @Html.ActionLink("Delete", "DeleteUser", "Users", new { UserID = user.UserID }, new { @class = "btn btn-danger", onclick = "return confirm('delete this user?');" })
                    </td>
                }
            </tr>
        }
    </tbody>
</table>