@using ElderScrollsOnlineCraftingOrders.Models
@model UsersPO
@{
    ViewBag.Title = "UpdateUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Update User Information</h2>

@using (Html.BeginForm("UpdateUser", "Users", FormMethod.Post))
{
    @Html.HiddenFor(model => Model.UserID)

    @Html.LabelFor(model => Model.Username)
    <div class="form-group">
        @Html.TextBoxFor(model => Model.Username, new { @class = "form-control" })
    </div>
    @Html.LabelFor(model => Model.Email)
    <div class="form-group">
        @Html.TextBoxFor(model => Model.Email, new { @class = "form-control" })
    </div>
    @Html.LabelFor(model => Model.Password)
    <div class="form-group">
        @Html.TextBoxFor(model => Model.Password, new { @class = "form-control" })
    </div>
    @Html.LabelFor(model => Model.ESOname)
    <div class="form-group">
        @Html.TextBoxFor(model => Model.ESOname, new { @class = "form-control" })
    </div>
    if ((byte)Session["RoleID"] == 6)
    {
        @Html.LabelFor(model => Model.RoleID)
        <div class="form-group">
            @Html.DropDownListFor(model => Model.RoleID, new List<SelectListItem>()
       { new SelectListItem {Text = "Banned", Value = "1" },
        new SelectListItem {Text = "User", Value = "3" },
        new SelectListItem {Text = "Crafter", Value = "4" },
        new SelectListItem {Text = "Mod", Value = "5" },
        new SelectListItem {Text = "Admin", Value = "6" } }, "Choose Role")
        </div>
    }
    @Html.LabelFor(model => Model.Server)
    <div class="form-group">
        @Html.TextBoxFor(model => Model.Server, new { @class = "form-control" })
    </div>
    <input type="submit" value="Update" class="btn" />
}