@using ElderScrollsOnlineCraftingOrders.Models
@model ItemsPO
@{
                /**/

                ViewBag.Title = "Update Item";
                Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Update Item</h2>

@using (Html.BeginForm("UpdateItem", "Items", FormMethod.Post))
{

    @Html.LabelFor(model => Model.Type)
    <div>
        @Html.DropDownListFor(model => Model.Type, new List<SelectListItem>()
        { new SelectListItem {Text = "Heavy Armor", Value = "Heavy Armor" },
        new SelectListItem {Text = "Medium Armor", Value = "Medium Armor" },
        new SelectListItem {Text = "Light Armor", Value = "Light Armor" },
        new SelectListItem {Text = "Shield", Value = "Shield" },
        new SelectListItem {Text = "Weapon", Value = "Weapon" },
        new SelectListItem {Text = "Jewelry", Value = "Jewelry"} }, "Item Type")
    </div>
    @Html.LabelFor(model => Model.SubType)
    <div>
        @if (Model.Type == "Heavy Armor" || Model.Type == "Medium Armor" || Model.Type == "Light Armor")
        {
            @Html.DropDownListFor(model => Model.SubType, new List<SelectListItem>()
       { new SelectListItem {Text = "Head", Value = "Head" },
       new SelectListItem {Text = "Shoulders", Value = "Shoulders" },
       new SelectListItem {Text = "Chest", Value = "Chest" },
       new SelectListItem {Text = "Hands", Value = "Hands" },
       new SelectListItem {Text = "Waist", Value = "Waist" },
       new SelectListItem {Text = "Legs", Value = "Legs" },
       new SelectListItem {Text = "Feet", Value = "Feet" } }, "SubType")
        }
        @if (Model.Type == "Shield")
        {
            @Html.DropDownListFor(model => Model.SubType, new List<SelectListItem>()
                { new SelectListItem {Text = "Shield", Value = "Shield" }}, "SubType")
        }
        @if (Model.Type == "Weapon")
        {
            @Html.DropDownListFor(model => Model.SubType, new List<SelectListItem>()
       { new SelectListItem {Text ="1h: Dagger", Value = "1h: Dagger" },
       new SelectListItem {Text ="1h: Mace", Value = "1h: Mace" },
       new SelectListItem {Text ="1h: Sword", Value = "1h: Sword" },
       new SelectListItem {Text ="1h: War Axes", Value = "1h: War Axes" },
       new SelectListItem {Text ="2h: Maul", Value = "2h: Maul" },
       new SelectListItem {Text ="2h: Greatsword", Value = "2h: Greatsword" },
       new SelectListItem {Text ="2h: Battleaxes", Value = "2h: Battleaxes" },
       new SelectListItem {Text ="Bow", Value = "Bow" },
       new SelectListItem {Text ="Inferno Staff", Value = "Inferno Staff" },
       new SelectListItem {Text ="Ice Staff", Value = "Ice Staff" },
       new SelectListItem {Text ="Lightning Staff", Value = "Lightning Staff" },
       new SelectListItem {Text ="Restoration Staff", Value = "Restoration Staff" }}, "SubType")
        }
        @if (Model.Type == "Jewelry")
        {
            @Html.DropDownListFor(model => Model.SubType, new List<SelectListItem>()
       { new SelectListItem {Text = "Necklace", Value = "Necklace" },
       new SelectListItem {Text = "Ring", Value = "Ring"}}, "SubType")
        }

    </div>
    @Html.LabelFor(model => Model.Trait)
    <div>
        @if (Model.Type == "Heavy Armor" || Model.Type == "Medium Armor" || Model.Type == "Light Armor" || Model.Type == "Shield")
        {
            @Html.DropDownListFor(model => Model.Trait, new List<SelectListItem>(){
           new SelectListItem {Text = "Divines", Value = "Divines" },
           new SelectListItem {Text = "Invigorating", Value = "Invigorating" },
           new SelectListItem {Text = "Impenetrable", Value = "Impenetrable" },
           new SelectListItem {Text = "Infused", Value = "Infused" },
           new SelectListItem {Text = "Nirnhoned", Value = "Nirnhoned" },
           new SelectListItem {Text = "Reinforced", Value = "Reinforced" },
           new SelectListItem {Text = "Sturdy", Value = "Sturdy" },
           new SelectListItem {Text = "Training", Value = "Training" },
           new SelectListItem {Text = "Well-Fitted", Value = "Well-Fitted" } }, "Trait")
        }
        @if (Model.Type == "Weapons")
        {
            @Html.DropDownListFor(model => Model.Trait, new List<SelectListItem>(){
            new SelectListItem {Text = "Charged", Value = "Charged" },
            new SelectListItem {Text = "Defending", Value = "Defending" },
            new SelectListItem {Text = "Infused", Value = "Infused" },
            new SelectListItem {Text = "Nirnhoned", Value = "Nirnhoned" },
            new SelectListItem {Text = "Powered", Value = "Powered" },
            new SelectListItem {Text = "Precise", Value = "Precise" },
            new SelectListItem {Text = "Sharpened", Value = "Sharpened" },
            new SelectListItem {Text = "Training", Value = "Training" },
            new SelectListItem {Text = "Decisive", Value = "Decisive" } }, "Trait")
        }
        @if (Model.Type == "Jewelry")
        {
            @Html.DropDownListFor(model => Model.Trait, new List<SelectListItem>(){
            new SelectListItem {Text = "Arcane", Value = "Arcane" },
            new SelectListItem {Text = "Bloodthirsty", Value = "Bloodthirsty" },
            new SelectListItem {Text = "Harmony", Value = "Harmony" },
            new SelectListItem {Text = "Healthy", Value = "Healthy" },
            new SelectListItem {Text = "Infused", Value = "Infused" },
            new SelectListItem {Text = "Protective", Value = "Protective" },
            new SelectListItem {Text = "Robust", Value = "Robust" },
            new SelectListItem {Text = "Swift", Value = "Swift" },
            new SelectListItem {Text = "Triune", Value = "Triune" } }, "Trait")
        }
    </div>
    @Html.LabelFor(model => Model.Style)
    <div>
        @Html.TextBoxFor(model => Model.Style)
    </div>
    @Html.LabelFor(model => Model.Set)
    <div>
        @Html.TextBoxFor(model => Model.Set)
    </div>
    @Html.LabelFor(model => Model.Level)
    <div>
        @Html.DropDownListFor(model => Model.Level, new List<SelectListItem>(){
            new SelectListItem {Text = "1", Value = "1" },
            new SelectListItem {Text = "4", Value = "4" },
            new SelectListItem {Text = "6", Value = "6" },
            new SelectListItem {Text = "8", Value = "8" },
            new SelectListItem {Text = "10", Value = "10" },
            new SelectListItem {Text = "12", Value = "12" },
            new SelectListItem {Text = "14", Value = "14" },
            new SelectListItem {Text = "16", Value = "16" },
            new SelectListItem {Text = "18", Value = "18" },
            new SelectListItem {Text = "20", Value = "20" },
            new SelectListItem {Text = "22", Value = "22" },
            new SelectListItem {Text = "24", Value = "24" },
            new SelectListItem {Text = "26", Value = "26" },
            new SelectListItem {Text = "28", Value = "28" },
            new SelectListItem {Text = "30", Value = "30" },
            new SelectListItem {Text = "32", Value = "32" },
            new SelectListItem {Text = "34", Value = "34" },
            new SelectListItem {Text = "36", Value = "36" },
            new SelectListItem {Text = "38", Value = "38" },
            new SelectListItem {Text = "40", Value = "40" },
            new SelectListItem {Text = "42", Value = "42" },
            new SelectListItem {Text = "44", Value = "44" },
            new SelectListItem {Text = "46", Value = "46" },
            new SelectListItem {Text = "48", Value = "48" },
            new SelectListItem {Text = "50", Value = "50" },
            new SelectListItem {Text = "CP10", Value = "CP10" },
            new SelectListItem {Text = "CP20", Value = "CP20" },
            new SelectListItem {Text = "CP30", Value = "CP30" },
            new SelectListItem {Text = "CP40", Value = "CP40" },
            new SelectListItem {Text = "CP50", Value = "CP50" },
            new SelectListItem {Text = "CP60", Value = "CP60" },
            new SelectListItem {Text = "CP70", Value = "CP70" },
            new SelectListItem {Text = "CP80", Value = "CP80" },
            new SelectListItem {Text = "CP100", Value = "CP100" },
            new SelectListItem {Text = "CP110", Value = "CP110" },
            new SelectListItem {Text = "CP120", Value = "CP120" },
            new SelectListItem {Text = "CP130", Value = "CP130" },
            new SelectListItem {Text = "CP140", Value = "CP140" },
            new SelectListItem {Text = "CP150", Value = "CP150" },
            new SelectListItem {Text = "CP160", Value = "CP160" } }, "Level"))
    </div>
    @Html.LabelFor(model => Model.Quality)
    <div>
        @Html.DropDownListFor(model => Model.Quality, new List<SelectListItem>() {
       new SelectListItem {Text = "normal", Value = "normal" },
       new SelectListItem {Text = "Fine", Value = "Fine" },
       new SelectListItem {Text = "Superior", Value = "Superior" },
       new SelectListItem {Text = "Epic", Value = "Epic" },
       new SelectListItem {Text = "Legendary", Value = "Legendary" } }, "Quality")
    </div>
    @Html.HiddenFor(model => Model.OrderID)

    @Html.LabelFor(model => Model.Price)
    <div>
        @Html.TextBoxFor(model => Model.Price)
    </div>

    <input type="submit" value="Update" class="btn" />
}