@using ElderScrollsOnlineCraftingOrders.Models
@model OrdersPO
@{
    ViewBag.Title = "AssignMeToOrder";
}

<h2>Take This Order?</h2>

<div class="row">
    <div class="col-md-1">
        <text>
            Order#
        </text>
        <text>
            @Model.OrderID
        </text>
    </div>
    <div class="col-md-1 col-md-offset-1">
        <text>
            Username:
        </text>
        <text>
            @Model.Username
        </text>
    </div>
    <div class="col-md-1 col-md-offset-1">
        <text>
            Requested:
        </text>
        <text>
            @Model.Requested
        </text>
    </div>
    <div class="col-md-1 col-md-offset-1">
        <text>
            Due by:
        </text>
        <text>
            @Model.Due
        </text>
    </div>
    <div class="col-md-1 col-md-offset-1">
        <text>
            Crafter:
        </text>
        <text>
            @Model.Crafter
        </text>
    </div>
    <div class="col-md-1 col-md-offset-1">
        <text>
            Status:
        </text>
        <text>
                Untaken
        </text>
    </div>
    <div class="col-md-1 col-md-offset-1">
        <text>Order Price:</text>
        <text>@Model.Pricetotal</text>

    </div>
</div>